<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>home</h1>
  <form action="/delete-ginger?_method=DELETE" method="POST">
    <input type=number name="sqlId">
    <input type="submit">
  </form>

  <% bookArray.forEach(potato => { %>
    <p><%= potato.title %> <%= potato.id %></p>
  <% }) %>
</body>
</html>