<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>add a new task</h1>
  <form method="POST">
    <fieldset>
      
      <label>
        title
        <input name="title" type="text">
      </label>
      <label>
        description
        <input name="description" type="textfield">
      </label>
      <label>
        contact
        <input name="contact" type="text">
      </label>
      <label>
        status
        <select name="status">
          <option>complete</option>
          <option>in progress</option>
          <option>pending</option>
        </select>
      </label>
      <label>
        category
        <input name="category" type="text">
      </label>
      <label>
        date
        <input name="date" type="date">
      </label>
      <input type="submit">
    </fieldset>
  </form>
</body>
</html>